<table class="table table-user">
  <h2>User info</h2>
  <thead>
    <tr>
      <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, size: '100x100' %>
      <% else %>
      <%= image_tag 'no_image.jpg', size: '100*100' %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th colspan="2">
      	<div class="row">
	<a href="/users/edit" class="btn btn-light btn-block btn-outline-secondary" role="button"><i class="fa-solid fa-user-gear"></i></a></div>
      </th>
    </tr>
  </tbody>
</table>